

body{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
       
}

.section-p1{

    padding-left: 50px;
    padding-top:40px ;
}

.section-m1{

    margin: 40px;
}



#navbar  a:hover,
#navbar  a.active {

    color: #000;
}

#navbar  a.active::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 3.8%;
    
}


#navbar  a.active1::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 7.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 11%;
}
   

/*  card button style class */


.normal{
    height: 30px;
    width: 40%;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 20px;
    left: 10px;

}

.normal-button{
    height: 55px;
    width: 160px;
    border: none;
    border-radius: 10px;
     background-color: #000;
     font-weight: 700;
     color: #fff;
     margin-left: 45%;
     font-size: 20px;
}

/* heart style universal */

#heart-style{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    font-size: 25px;

}

#download-style{
    position: absolute;
    top: 20px;
    right: 10px;
   color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 50%;
    background-color: aliceblue;
    transition: all 0.5s;

}

.span-style{

    opacity: 0.6;
}

.globe{

    padding: 10px;
    border-radius: 40px;
}
.globe:hover{
    background-color: rgb(255, 240, 240);
}
.user{

    padding: 10px 0px;
    
   
    padding-right: 17px;
    border-radius: 40px;
    background-color:rgb(255, 240, 240) ;
}

.baar-icon{
    padding-right: 20px;
}

#items3{
    border: none;
}

/* index page style */


#heading h1{
    font-size: 40px;
    font-weight: 700;
    color: black;
}

#header{

   
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
  

   
   border-bottom: 1px solid rgb(255 200 200);
   box-shadow: 10px 0px 10px rgb(255 240 240) ;
}
#header .header-box{

    width: 30%;
    
}

#header .header-box img{

    width: 30%;
    cursor: pointer;
}
#header .header-box span{

   
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-radius: 40px;
}

#header .header-box span:hover{
    background-color: rgb(255, 240, 240);
}

#header .header-box span,strong{

    font-size: 20px;
    
}

#header .header-box span{
    padding-left: 30px;
}

#header .header-box button{
    
    height: 55px;
    width:130px ;
    border-radius: 30px;
    /* box-shadow: 1px 1px 5px  rgb(255,240,240) ; */
    margin-left: 30px;
    background-color: white;
    border: 1px solid rgb(255,210,210);
    transition: all 0.3s ease-in;


}

#header .header-box button:hover{


    box-shadow: 5px 3px 15px rgb(255, 200, 200) ;
}

#header .header-box button i{
    padding-left: 20px;
    font-size: 20px;
    color: #000;
}

#header .header-items{
    margin-top: 20px;

    width: 60%;
    height: 80px;
    border-bottom: 1px solid rgb(255,210,210);
    border-radius: 60px;
    display: flex;
    align-items: center;
    
    box-shadow: 0 0 10px   rgb(255, 200, 200);;
    margin-bottom: 40px;
    
    
}


#header .header-items span{
    padding-left: 30px;
   
    
}


#header .header-items strong{
    font-size: 18px;
    
}

#header .header-items .items1{
    width: 30%;
    border-right: 1px solid #000;
    position: relative;
   
}

#header .header-items .items1 i{
   position: absolute;  
   padding: 15px;
   background-color: red;
   border-radius: 40px;
   margin-left: 130px;  
   
   color: white;
}
#header .header-items .items1:hover{
   
   padding-top: 20px;
   padding-bottom: 20px;
   
    border-radius: 60px;
    background-color: rgb(255, 240, 240);
    border: none;

}


#header .header-items .items2{
    width: 20%;
    border-right: 1px solid #000;
   
}
#header .header-items .items2:hover{
    
    padding-top: 20px;
    padding-bottom: 20px;
     border-radius: 60px;
     background-color: rgb(255, 240, 240);
     border: none;
}

 #navbar{
    padding-top: 30px;
    border-bottom: 1px solid  rgb(255,210,210);
   box-shadow: 10px 10px 10px  rgb(255, 240, 240) ;
   background-color: white;
   
   position: sticky;
   top: 0;
   z-index: 999;


    
  
     
   
    
    
 } 

#navbar .navbar-icons{
    
   
    margin-bottom: 30px;

   
   
        
}
 

#navbar .navbar-icons a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
    padding-left: 60px;
   
}


/* view amazing page  style */

#amazing-views{
   
 display: flex;

 justify-content: space-between;

 align-items: center;
 flex-wrap: wrap;
       cursor: pointer;
       
       
}


.container{

margin-top: 40px;
width: 300px;
height: 380px;
/* border: 1px solid #000; */
border-radius: 10px;
transition: all 0.5s ease-out ;
position: relative;
}



.container img{
    width: 100%;
   height: 70%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s ease-out ;
}

.container img:hover{

    transform: scale(1.03);


}

.container span{
   
    font-size: 18px;
    line-height: 22px;
    padding-left: 2px;
   
}

.box i{

    font-size: 13px;
    position: absolute;
    right: 10px;
    bottom: 120px;   
}


#footer-heading h3{

    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
footer{

    background-color: aliceblue;
}


footer h3 {
    padding: 50px 50px 0px 50px;
    font-size: 30px;
    font-weight: 600;
}
footer a{

    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding-left: 50px;
}

footer a:hover{
    
    text-decoration: underline #000;
}
footer .footer-container{
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
   
    
}


footer .footer-container .footer-box{
    margin-bottom: 60px;

    

}

footer .footer-box  a{

    display: block;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 17px;
}


footer .footer-box .opacity{
    opacity: 0.4;
    text-decoration: none;
}



footer .footer-container2{
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
   
    
}
footer .footer-box2  a{

    display: block;
    
    font-size: 17px;
}

footer .footer-box2 strong{

    padding-left: 50px;
    font-size: 25px;
    font-weight: 700;
    color: #000;

}
footer .footer-container3{

    /* margin-bottom: 40px; */
    display: flex;
    justify-content: space-between;
}

footer .footer-container3 .box{

    margin-bottom: 20px;
}

footer .footer-container3 .box span{

    padding-left: 50px;
    font-size: 15px;
}

footer .footer-container3 .box a{

    padding-left: 10px;
    font-size: 15px;
}

footer .footer-container3 .box i{
    font-size: 80px;
    color: black;
    font-weight: 700;
    font-weight: bold;

}
footer .footer-container3 .box1{
    margin-bottom: 20px;
}

footer .footer-container3 .box1{
    margin-right: 100px;
}
footer .footer-container3 .box1 i,span{
    padding-right: 10px;
    cursor: pointer;
}


/* pool page style */


#navbar  a.active2::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 7.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 23.3%;
}

/* beach page style */


#navbar  a.active3::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 35.3%;
}

/* rooms style page */


#navbar  a.active4::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 43%;
}

/* farm style page */

#navbar  a.active5::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 51%;
}

 /* cabins page style */

 
#navbar  a.active6::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 58.9%;
}


/* island page style */

#navbar  a.active7::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 66.6%;
}


#navbar  a.active8::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 8%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 74.3%;
}

/* play page style */


#navbar  a.active9::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 2.5%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 87%;
}

/* boates page style */


#navbar  a.active10::after,
#navbar  a:hover::after{
    content: "";
    height: 2px;
    width: 3.2%;
   
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 93.8%;
}

